/******************** COLORS VARIABLES ********************/
$white: #fff;
$black: #000;
$color__body: #52585b;
$color__heading: #112f52;
$color__theme: #961dff;
$color__dark_section: #1d2643;
$color__dark_section_text: #6c779a;
$color_link: $color__theme;

$transition: 0.25s;
