.availavle__cities {
	padding: 160px 0 104px;

	@media (max-width: 767px) {
		padding: 60px 0 40px;
	}
}

.cities__wrap {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;

	@media (min-width: 767px) {
		margin-left: -98px;
	}

	.citie__inner {
		@media (min-width: 767px) {
			flex-basis: 31%;
			margin-left: 28px;
			max-height: 248px;

			&:first-child {
				margin-left: 0;
				margin-top: 213px;
			}

			&:nth-child(4) {
				margin-top: -213px;
			}

			&:nth-child(3) {
				margin-top: 60px;
			}

			&:nth-child(5) {
				margin-top: -153px;
			}
		}
	}
}
