button,
.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 1.6rem;
	line-height: 1;
	padding: 17px 30px;
	border: none;
	border-radius: 3px;
	white-space: nowrap;
	transition: $transition;

	&--primary[class] {
		color: #fff;
		background: $color__theme;

		&:hover {
			color: #fff;
			background: darken($color__theme, 10);
		}
	}

	&--small {
		padding: 12px 20px;
	}

	&--round {
		border-radius: 35px;
	}
}
