.primary__navigation {
	@media (max-width: 767px) {
		display: none;
	}

	ul {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	li {
		margin-right: 28px;

		a {
			color: #626262;
			letter-spacing: 0.15px;

			&:hover {
				color: $color__theme;
			}
		}

		&.active {
			a {
				color: $color__theme;
			}
		}

		&:last-child {
			margin-right: 0;
		}
	}
}
