.banner__wrapper {
	padding: 189px 0 36px;
	background-image: url("../../icons/banner-illustration.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100%;

	@media (max-width: 767px) {
		padding-top: 110px;
		background-size: cover;
	}
}

.banner__text {
	margin-bottom: 78px;

	h1 {
		font-size: 5.5rem;
		color: #000;
		letter-spacing: 0.5px;
		line-height: 1.273em;

		@media (max-width: 767px) {
			font-size: 3.5rem;

			br {
				display: none;
			}
		}
	}
}

.scroll__down {
	a {
		background: #ffffff;
		box-shadow: 0 14px 40px 0 rgba(6, 14, 119, 0.15);
		width: 54px;
		height: 54px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
	}
}
